body {
  /* background-image: linear-gradient( 109.6deg,  rgba(177,173,219,1) 11.2%, rgba(245,226,226,1) 91.1% ); */
  background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
}

.contenedor {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.header_img {
  position: absolute;
  /* margin: 40px 0 0 84px; */
}

.header_img > img {
  position: relative;
  left: 84px;
  top: 40px;
  width: 31.09px;
  height: 48px;
}

.encriptador {
  margin: 0 40px;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.encriptador_form {
  flex-basis: calc(65% - 80px);
}

.text_in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text_in > textarea {
  flex-basis: 100%;
  margin-top: 40px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  line-height: 48px;
  color: #0a3871;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  resize: none;
  border: none;
}

.text_in > textarea:focus {
  outline: none;
}

.text_in > textarea::-webkit-input-placeholder {
  color: #0a3871;
}

.text_in_info {
  width: 100%;
  margin-bottom: 72px;
  position: relative;
}

.info {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.info > p {
  margin-left: 8px;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: #495057;
}

.info > img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  display: inline-block;
}

.text_out_sec {
  margin: 40px 40px;
  flex-basis: calc(35% - 80px);
}
#warning {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.out_content {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rounded {
  border-radius: 10px;
}

.content {
  margin: 40px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content > p:nth-child(2) {
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.content > p:nth-child(3) {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.text_out_img {
  text-align: center;
}

.text_out_img > img {
  height: 200px;
  object-fit: cover;
  display: inline-block;
}

#texto_out {
  flex-basis: calc(100% - (67px + 32px));
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #0a3871;
  background-color: transparent;
  resize: none;
  border: none;
}

.header {
  padding: 30px;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.py-1 {
  padding: 10px;
}
.invisible {
  display: none;
}

@media screen and (max-height: 600px) {
  .text_out_img > img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-height: 500px) {
  .text_out_img > img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .encriptador {
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
  }

  .encriptador_form {
    margin: 0;
    width: 90%;
    flex-basis: 50%;
  }

  .text_in > textarea {
    height: 700px;
  }

  .text_in_info {
    margin-bottom: 0;
  }

  .text_out_sec {
    margin: 40px 40px;
    width: calc(100% - 80px);
    flex-basis: 50%;
  }

  .text_out_img > img {
    display: none;
  }

  .content > p:nth-child(2) {
    margin-top: 0;
  }

  .content > p:nth-child(3) {
    margin-top: 16px;
  }
}
